<mat-dialog-content>
  <p>Please enter the email associated with your account:</p>
  <mat-form-field>
    <mat-placeholder>Email</mat-placeholder>
    <input matInput type="email" [formControl]="email">
    <mat-error *ngIf="!email.valid">Please provide a valid email address.</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="space-around center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onOk()" [disabled]="!email.valid">Ok</button>
</mat-dialog-actions>
