<md-dialog-content>
  <p>Please enter the email associated with your account:</p>
  <md-form-field>
    <md-placeholder>Email</md-placeholder>
    <input mdInput type="email" [formControl]="email">
    <md-error *ngIf="!email.valid">Please provide a valid email address.</md-error>
  </md-form-field>
</md-dialog-content>
<md-dialog-actions fxLayoutAlign="space-around center">
  <button md-button md-dialog-close>Cancel</button>
  <button md-button (click)="onOk()" [disabled]="!email.valid">Ok</button>
</md-dialog-actions>
