@import '~@angular/material/theming';

@import '~@tfn/core/theming/tfn.theme.scss';


.input {
    background-color: mat-color($tfn-primary);
    border-radius: 10%;
}

md-grid-list {
    height: 150px;
    width: 150px;
}
