<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3em">
  <div class="stick">
    <md-grid-list cols="3" gutterSize=".5em">
      <md-grid-tile colspan="3">
        <md-select placeholder="Specials">
          <md-option>
            Foo
          </md-option>
        </md-select>
      </md-grid-tile>
      <md-grid-tile class="mat-title input">1</md-grid-tile>
      <md-grid-tile class="mat-title input">2</md-grid-tile>
      <md-grid-tile class="mat-title input">3</md-grid-tile>
      <md-grid-tile class="mat-title input">4</md-grid-tile>
      <md-grid-tile class="mat-title input">5</md-grid-tile>
      <md-grid-tile class="mat-title input">6</md-grid-tile>
      <md-grid-tile class="mat-title input">7</md-grid-tile>
      <md-grid-tile class="mat-title input">8</md-grid-tile>
      <md-grid-tile class="mat-title input">9</md-grid-tile>
    </md-grid-list>
  </div>
  
</div>