<div fxLayout="column" fxLayoutAlign="start center">
  <p class="mat-caption warn">{{ this.error }}</p>
  <form novalidate [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <mat-form-field>
      <mat-placeholder>Email</mat-placeholder>
      <input matInput formControlName="email" type="email" id="email">
    </mat-form-field>
    <mat-form-field>
        <mat-placeholder>Password</mat-placeholder>
      <input matInput formControlName="password" type="password" id="password">
    </mat-form-field>
    <mat-form-field>
        <mat-placeholder>Confirm Password</mat-placeholder>
      <input matInput formControlName="confirmPassword" type="password" id="confirmPassword">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Sign Up</button>
  </form>
</div>
