.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(4, 40px);
  grid-gap: 10px;
}

.grid-input {
  border-radius: 5px;
}

mat-form-field {
  grid-column: 1 / -1;
  grid-row: 1;
  width: initial;
  align-self: center;
}

button {
  min-width: initial;
}
