<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3em">
  <div class="stick">
    <mat-grid-list cols="3" gutterSize=".5em">
      <mat-grid-tile colspan="3">
        <mat-select placeholder="Specials">
          <mat-option>
            Foo
          </mat-option>
        </mat-select>
      </mat-grid-tile>
      <mat-grid-tile class="mat-title input bg-primary">1</mat-grid-tile>
      <mat-grid-tile class="mat-title input bg-primary">2</mat-grid-tile>
      <mat-grid-tile class="mat-title input bg-primary">3</mat-grid-tile>
      <mat-grid-tile class="mat-title input bg-primary">4</mat-grid-tile>
      <mat-grid-tile class="mat-title input bg-primary">5</mat-grid-tile>
      <mat-grid-tile class="mat-title input bg-primary">6</mat-grid-tile>
      <mat-grid-tile class="mat-title input bg-primary">7</mat-grid-tile>
      <mat-grid-tile class="mat-title input bg-primary">8</mat-grid-tile>
      <mat-grid-tile class="mat-title input bg-primary">9</mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
