<div class="grid-container">
  <mat-form-field>
    <mat-select
      placeholder="Specials"
      (change)=onSelect($event)
      [formControl]="specialSelect">
      <mat-option
        *ngFor='let special of specials'
        [value]='special'>
        {{special}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    *ngFor="let input of inputs"
    class="grid-input"
    [color]="selected === input? 'warn' : 'primary'"
    (click)=onClick(input)>
    {{input}}
  </button>
</div>
