@import '~@angular/material/theming';

@import '~@tfn/core/theming/tfn.theme.scss';

md-form-field {
    width: 100% !important;
}

button {
    width: 100%;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

p {
    color: mat-color($tfn-warn)
}