<div >
    <form class="login-form" fxLayout="column" fxLayoutAlign="start center" (ng-submit)="onLogin()">
      <md-form-field class="full-width">
        <input mdInput focused placeholder="Username">
      </md-form-field>
      <md-form-field class="full-width">
        <input mdInput placeholder="Email">
      </md-form-field>
      <md-form-field class="full-width">
        <input mdInput placeholder="Password">
      </md-form-field>
      <md-form-field class="full-width">
        <input mdInput placeholder="Confirm Password">
      </md-form-field>
      <button md-raised-button color="primary">SIGN UP</button>
    </form>
  </div>