<div fxLayout="column" fxLayoutAlign="start center">
  <p class="mat-caption warn">{{ this.error }}</p>
  <form novalidate [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <mat-form-field>
      <mat-placeholder>Email</mat-placeholder>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-placeholder>Password</mat-placeholder>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign In</button>
    <button mat-button type="button" (click)="onForgotPassword()">Forgot Your Password?</button>
  </form>
</div>
