<div fxLayout="column" fxLayoutAlign="start center">
  <p class="mat-caption warn">{{ this.error }}</p>
  <form novalidate [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <md-form-field>
      <md-placeholder>Email</md-placeholder>
      <input mdInput type="email" formControlName="email">
    </md-form-field>
    <md-form-field>
      <md-placeholder>Password</md-placeholder>
      <input mdInput type="password" formControlName="password">
    </md-form-field>
    <button md-raised-button color="primary" type="submit">Sign In</button>
    <button md-button type="button" (click)="onForgotPassword()">Forgot Your Password?</button>
  </form>
</div>
