@import '~@angular/material/theming';

@include mat-core();

$tfn-primary: mat-palette($mat-deep-purple);
$tfn-accent: mat-palette($mat-indigo);
$tfn-warn: mat-palette($mat-red);

$tfn-theme: mat-dark-theme(
    $tfn-primary,
    $tfn-accent,
    $tfn-warn
);

@include angular-material-theme($tfn-theme);